@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #75192E;
  --color-secondary: #FFF2E0;
  --color-dark: #1e2225;
  --color-light: #f5efe6;
  --font-head: "Tangerine", serif;
  --font-body: "Karma", sans-serif;
  --background: #FFF2E0;
  --foreground: #1e2225;
}

.font-head {
  font-family: var(--font-head);
}

.font-body {
  font-family: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF2E0;
    --foreground: #1e2225;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.section-responsive {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
  padding-top: 4rem;
}

@media (min-width: 768px) {
  .section-responsive {
    padding: inherit 1.5rem;
    padding-top: 6rem;

  }
}
@media (min-width: 1024px) {
  .section-responsive {
    padding: inherit 1.5rem;
    padding-top: 10rem;
  }
}

@layer utilities {
  .before-max-w-right-fill::before {
    left: 100%;
    max-width: 9999px;
  }

  .before-right-fill::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100vw - 66.6667%); /* largeur restante si la div fait 2/3 */
    background-color: theme('colors.primary');
    border: 8px;
    border-color: theme('colors.primary');
    z-index: -1;
  }
}