@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #75192E;
  --color-secondary: #f5c378;
  --color-dark: #1e2225;
  --color-light: #f5efe6;
  --font-head: "Geist Mono", serif;
  --font-body: "Geist", serif;
}

.font-head {
  font-family: var(--font-head);
}

.font-body {
  font-family: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
